.ubuntu-terminal-desktop {
  background-image: url("./assets/ubuntu_wallpaper.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Portfolio {
  min-height: 200vh;
  font-family: sans-serif;
  color: white;
  background-color: #3e4d4f;
  position: relative;
}

.navbar {
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar > a {
  text-decoration: none;
  color: white;
}

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.ubuntu-card-background {
  background-image: url("./assets/ubuntu_wallpaper_rotated.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1080px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.projects-header {
  text-align: center;
  padding-top: 40px;
}
