.link-block:hover > p {
  color: #ae81ff;
}

.link-block {
  min-height: 60px;
  background: #272822;
  border-radius: 0.3em;
  margin: 1.5em;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2em;
  text-decoration: none;
  color: white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
};

