.code-inline {
  background-color: #272822;
  font-family: "Inconsolata", "Menlo", "Consolas", monospace;
  padding: 1px;
}


/*IS THIS A PROBLEM CHILD WTF*/
#blog-content > :not(pre) {
  margin-left: 15vw;
  margin-right: 15vw;
}
#blog-content > pre {
  width: 80vw;
  padding-left: 3vw;
  padding-right: 3vw;
  margin-left: 7vw;
  margin-right: 7vw;
  max-width: none;
}

#blog-content {
  font-size: 1em;
  line-height: 1.4em;
  letter-spacing: 0.009em;
  margin-bottom: 4em;
};
