.code-inline {
  background-color: #272822;
  font-family: "Inconsolata", "Menlo", "Consolas", monospace;
  padding: 1px;
}

blockquote {
  border-left: 2px solid #ddd;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
}


#blog-content > :not(pre) {
  width: 850px;
  max-width: 98%;
  margin-left: auto;
  margin-right: auto;
}

#blog-content > pre {
  display: inline-block;
  min-width: 60%;
  max-width: 90%;
}

@media only screen and (max-device-width: 480px) {
  #blog-content > pre {
    width: 92%;
    max-width: none;
  }
}

#blog-content > * {
  text-align: left;
}

#blog-content {
  text-align: center;
  font-size: 1em;
  line-height: 1.4em;
  letter-spacing: 0.009em;
  margin-bottom: 4em;
  padding: 1em;
};
