.inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
}

.outer {
  position: relative;
  width: 100%;
  height: 380px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer::before {
  content:'';
  position:absolute;
  left: 10%; top: 10%;
  border-radius: 10px;
  width: 80%;
  height: 80%;
  /*box-shadow: 0px 0px 0px 2000px #E3DFD2;*/
  box-shadow: 0px 0px 0px 2000px #514f48;
}


.card-header-container > h2 {
}

.inner > p {
  /*font-style: oblique;*/
  line-height: 27px;
}

.tech-icon-row {
  position: absolute;
  display: flex;
  flex-direction: row;
  /*justify-content: center;*/
  align-items: center;
  height: 37px;
  bottom: 12px;
  background-color: white;
  border-radius: 10px;
}

.tech-icon {
  height: 28px;
  margin-left: 8px;
  margin-right: 8px;
}

.github-link {
  background-color: white;
  color: black;
  position: absolute;
  /*top: 52px;*/
  right: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 12px;
}

.github-logo {
  height: 28px;
  margin: 5px;
}

.card-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 4px;
  width: 100%
}