.inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 90%;
  max-width: 800px;
}

.outer {
  position: relative;
  width: 100%;
  height: calc(650px - 15vw);
  min-height: 350px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer::before {
  content:'';
  position:absolute;
  border-radius: 10px;
  height: 80%;
  width: 90%;
  max-width: 800px;
  box-shadow: 0px 0px 0px 2000px #514f48;
}


.card-header-container > h2 {
}

.inner > p {
  text-align: center;
  line-height: 24px;
  margin: 50px;
}

.tech-icon-row {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 37px;
  bottom: 12px;
  background-color: white;
  border-radius: 10px;
}

.tech-icon {
  height: 28px;
  margin-left: 8px;
  margin-right: 8px;
}

.github-link {
  background-color: white;
  color: black;
  position: absolute;
  right: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.github-logo {
  height: 28px;
  margin: 5px;
}

.card-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  width: 100%
}