.Terminal {
    height: 500px;
    max-width: 900px;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
}

.terminal-header {
    display: grid;
    grid-template-columns: 23px 23px 23px auto 69px;
    align-content: center;
    height: 28px;
    background-color: #514f48;
    border-radius: 10px 10px 0 0;
}

.terminal-header-btn {
    float: left;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-left: 9px;
}

.header-btn1 {
    background-color: #ee7751;
}

.header-btn2, .header-btn3 {
    background-color: #7f7e78;
}

.header-text {
    /*font-size: 0.6em;*/
    justify-self: center;
}

.terminal-window {
    font-weight: bold;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    border-radius: 0 0 10px 10px;
    padding-top: 5px;
}

.statement {
    margin-left: 35px;
    margin-right: 35px;
}

.input-statement {
    padding-top: 5px;
}

.return-statement {
    margin-top: 5px;
}

.terminal-link {
    text-decoration-line: none;
    color: DodgerBlue;
}
