.terminal-header {
    display: grid;
    grid-template-columns: 23px 23px 23px auto 69px;
    align-content: center;
    width: 1000px;
    height: 28px;
    background-color: #514f48;/*#e4e3e5;*/
    border-radius: 10px 10px 0 0;
}

.terminal-header-btn {
    float: left;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-left: 9px;    
}

.header-btn1 {
    background-color: #ee7751;
}

.header-btn2, .header-btn3 {
    background-color: #7f7e78;
}

.header-text {
    font-size: 0.6em;
    justify-self: center;
}

.terminal-window {
    font-weight: bold;
    height: 300px;
    background-color: black;
    opacity: 0.8;
    border-radius: 0 0 10px 10px;
}

.statement {
    font-size: 0.6em;
    margin-left: 35px;
    margin-right: 35px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.input-statement {

}

/*.input-statement::before {
    content: ">>> ";
}*/

/*.non-py-statement::before {
    content: "";
}*/

.return-statement {

}
