.inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  width: 90%;
  max-width: 800px;
}

.outer {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner::before {
  content: '';
  position: absolute;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  max-width: 800px;
  box-shadow: 0px 0px 0px 2000px #3e4d4f;
}

.inner > p {
  line-height: 24px;
  margin-left: 25px;
  margin-right: 25px;
}

.tech-icon-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90%;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
}

.tech-icon {
  height: 28px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin: 5px;
}

.github-link {
  background-color: white;
  color: black;
  position: absolute;
  right: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.github-logo {
  height: 28px;
  margin: 5px;
}

.card-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
