.Terminal {
    max-width: 900px;
    width: 90%;
}

.terminal-header {
    display: grid;
    grid-template-columns: 23px 23px 23px auto 69px;
    align-content: center;
    height: 28px;
    background-color: #3e4d4f;
    border-radius: 10px 10px 0 0;
}

.terminal-header-btn {
    float: left;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-left: 9px;
}

.header-btn1 {
    background-color: #ee7751;
}

.header-btn2, .header-btn3 {
    background-color: #7f7e78;
}

.header-text {
    justify-self: center;
}

.terminal-window {
    font-weight: bold;
	  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    height: 480px;
    max-height: 80vh;
    background-color: black;
    opacity: 0.75;
    border-radius: 0 0 10px 10px;
    padding-top: 5px;
}

.statement {
    margin-left: 35px;
    margin-right: 35px;
}

.input-statement {
    padding-top: 5px;
}

.return-statement {
    margin-top: 5px;
}

.terminal-link {
    text-decoration-line: none;
    color: DodgerBlue;
}

.cursor {
    background-color: MediumSpringGreen;
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {
    50% {
        background-color: transparent;
    }
}

