.ubuntu-terminal-desktop {
  background-image: url("./ubuntu_wallpaper.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  min-height: 200vh;
  font-family: monospace;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #514f48;
}

.App-container {
  max-width: 1000px;  
  margin: 0 auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
