.ubuntu-terminal-desktop {
  background-image: url("./ubuntu_wallpaper.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  min-height: 200vh;
  font-family: monospace;
  font-size: calc(11px + 0.3vw);
  color: white;
  background-color: #514f48;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar > a {
  text-decoration: none;
  color: white;
  font-size: 0.4em;
}
